{% extends 'accounts/main.html' %}
{% load static %}
{% block content%}
{% include 'accounts/sectionhero1.html' %}
<div class="container">
    <div class="row">

        <div class="checkout__form">
             <!-- <a style="border: 1px;" href="{% url 'cart' %}" class="btn btn-outline">Go back</a> -->
             <div class="box-element">
                <a href="{% url 'home' %}" class="btn btn-warning">Go back</a>
                <br>
                
    
            </div>
            <br>
            <h4>Thông tin người dùng</h4>
            <form action="#">
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Tên<span>*</span></p>
                                    <input type="text" value="" id='name'>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Email<span>*</span></p>
                                    <input type="email" value="">
                                </div>
                            </div>

                           

                            <div class="col-lg-8">
                               <h4> Chọn phương thức thanh toán</h4>
                            </div>
                            <div class="col-lg-8" >
                                  <!--   <h4><img style="width:40px; height: 40px;" src="{% static './img/logo-momo.jpg' %}" alt="">&emsp;<a
                                            href="" style="text-decoration: none; color: #000;">MOMO Wallet</a>
                                        <br><p>&emsp;&emsp;&emsp;&emsp;Thanh toán nhanh trong 5 giây bằng cách dùng ứng dụng &emsp;&emsp;&emsp;&emsp;Momo quét mã QR</p> </h4> -->
                                        <div id="paypal-button-container"></div>

                            </div>
                             <div class="col-lg-8" >
                                    <!-- <h4><img style="width:40px; height: 40px;" src="{% static './img/atm.png' %}" alt="">&emsp;<a
                                            href="" style="text-decoration: none; color: #000;">Thanh toán bằng thẻ Visa, Master, JCB,..</a>
                                        <br><p>&emsp;&emsp;&emsp;&emsp;Hỗ trợ thẻ debit và credit (Visa, Mastercard, JCB) thông &emsp;&emsp;&emsp;&emsp;qua cổng thanh toán Onepay</p> </h4> -->

                            </div>

                            </div>
                             <div class="col-lg-8" >
                                    <!-- <h4><img style="background: #000; width:40px; height: 40px;" src="{% static './img/atm2.png' %}" alt="">&emsp;<a
                                            href="" style="text-decoration: none; color: #000;">Local ATM Cards</a>
                                        <br><p>&emsp;&emsp;&emsp;&emsp;Hỗ trợ thẻ ATM tất cả các ngân hàng Việt Nam: BIDV,
                                            &emsp;&emsp;&emsp;&emsp;Vietcombank, Techcombank, VP Bank...</p> </h4> -->
                                     
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">

                            <h4>Đơn Tổng</h4>
                            <h5><strong>Khóa học:</strong></h5> <br>
                            <script>
                             array=[];
                            </script>
                            {% for item in items %}
                            <div class="checkout__order__products">{{item.courses.nameCourse}}<span>
                                <strong>{{item.courses.price|floatformat:3}} VND</strong></span>
                            </div>

                            <script>
                                array.push({
                                    id:'{{item.courses.id}}',
                                })
                                
                            </script>
                            
                             {% endfor %}
                            <br>
                         
                            <div class="checkout__order__total"><h4><strong>Tổng giá trị</strong> </h4> {{order.get_cart_total|floatformat:3}}  
                                <button type="submit" class="site-btn">THANH TOÁN</button>
                            </div>
                            <script>
                                var price='{{order.get_cart_total|floatformat:3}}';
                                var total=Math.round(price / 20);
                               
                            </script>
                            


                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=AZOytF9O09T6jNy9RfxdcFXorGecbV-WK8XzAQ7zkcvIybUGBIQeCJChG3ho8_cwaGCnZ_7n0KZNS9x3&currency=USD&disable-funding=credit"></script>

    <script>
            function getCookies(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftokens = getCookies('csrftoken');

        
       
        // var coursesId =array;
        var coursesId ='1';
        console.log(coursesId)

        
       
        
    
        function completeOrder(){
            var url="{% url 'complete' %}"

            fetch(url, {
                method:'POST',
                headers:{
                    'Content-type':'application/json',
                    'X-CSRFToken':csrftokens,
                },
                body:JSON.stringify({'coursesId':coursesId})

            })

        }


        // Render the PayPal button into #paypal-button-container

        paypal.Buttons({

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: total
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    completeOrder()
                    alert('Thanh toán thành công từ ' + details.payer.name.given_name + '!');
                });
            }


        }).render('#paypal-button-container');
    </script>
{% endblock%}