{% extends 'accounts/main.html' %}
{% load static %}
<style>
    .profile-pic{
        border : 2px solid #000;
        border-radius: 50%;
    }


</style>
{% block content%}

{% include 'accounts/sectionhero1.html' %}

<div class="container">
    <div class="row">
        {% for video in video %}
        <div class="col-md-12">


                <center>
                    <h1>{{video.courses}}</h1>
                    <h3>{{video.title}}</h3>
                    <video width="100%" height="500" controls >
                    <source src="{{video.video.url}}" type="video/mp4">

                        </video>
                </center>

        </div>
        <div class="col-md-6">
            <br><br>
            <h2>Thông tin khóa học</h2>

            <p>Người đăng:  <strong>{{video.uploader}}</strong></p>
            <p>Ngày đăng: {{video.date_posted}}</p>
            <p>Lợi ích khi học khóa học: <br> {{video.description}}</p>

        </div>

        <div class="col-md-6">
            <img src="{{video.thumbnail.url}}" alt="" style="width:100%; height: 400px ">
             <hr>
            <h2>Previous Comments</h2>
            <br>
            {% if not video.comments.all %}
                No comments yet...
            {% else %}

                    {% for comment in video.comments.all %}
            <strong>
                <a href="" style="text-decoration:none; ">
                    <img width="28" height="28" src="{{request.user.student.avatar.url}}" class="profile-pic" alt="">
                    {{ comment.user }}</a> -
                {{ comment.created_on }}
            </strong>
            <br>
            {{ comment.comment|linebreaks }}
              <br>
                    {% endfor %}
                    {% if user.username %}
                        <form action="{% url 'detailVideo' video.id %}" method="post">

                   {% csrf_token %}
                    <p><label>Bình luận</label></p>
                            {{form.as_p}}
                <br>
                <button style="width:100px; height:50px;" type="submit" class="btn btn-warning">
                <i class="fas fa-paper-plane"></i></button>

            </form>
                {% endif %}
            {% endif %}
            <br><br>


        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
