{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4" style="background:linear-gradient(45deg, #be2edd,#833471); color: #000">
    <!-- Brand Logo -->
    <a href="" class="brand-link">

      <center><span class="brand-text font-weight-light">AdminEdtech</span></center>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">

        <div class="info">

          <a href="#" class="d-block">mienmien192</a>
        </div>
      </div>

      <!-- Sidebar Menu -->



       <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

          <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-user"></i>
              <p>
                User
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
               <a href="" class="nav-link">

                  <p>Bảng User</p>
                </a>
              </li>
            </ul>
          </li>

        </ul>
      </nav>


      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

          <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link active">
            <i class="fab fa-product-hunt"></i>
              <p>
                Course
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
               <a href="{% url 'courses' %}" class="nav-link">

                  <p>Bảng khóa học</p>
                </a>
              </li>

            </ul>
          </li>

        </ul>
      </nav>
        <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

          <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link active">
            <i class="fab fa-product-hunt"></i>
              <p>
                Học sinh
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
               <a href="{% url 'student' %}" class="nav-link">

                  <p>Bảng Student</p>
                </a>
              </li>

            </ul>
          </li>

        </ul>
      </nav>
        <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

          <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link active">
            <i class="fab fa-product-hunt"></i>
              <p>
                Giáo viên
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
               <a href="{% url 'teacher' %}" class="nav-link">

                  <p>Bảng Giáo viên</p>
                </a>
              </li>

            </ul>
          </li>

        </ul>
      </nav>

      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>