{% extends 'accounts/main.html' %}
{% block content %}
<div class="row" style="font-size: 15px;">
    <div class="col-md">
        <div class="card card-body">
            <center><h3>Học viên</h3></center>
            <a class="btn btn-warning" href="{% url 'add_student' %}"><h4>Thêm thông tin học viên</h4></a>

        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                <th>id</th>
                <th>acount</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Avatar</th>
                <th>Update</th>
                <th>Remove</th>
            </tr>
                {% for student in student %}
                <tr>
                    <td>{{student.id}}</td>
                    <td>{{student.account}}</td>
                    <td>{{student.phone}}</td>
                    <td>{{student.email}}</td>
                    <td>{{student.avatar}}</td>
                    <td><a href="#"><i style="color: #000; text-decoration: none" class="fas fa-tools"></i></a></td>
                    <td><a href="{% url 'Xoafile_student' student.id  %}"><i  style="color: #000; text-decoration: none" class="fas fa-trash-alt"></i></a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}