.pf-follow{
    padding: 65px 0 38px 0;
}

.pf-follow .wrapper{
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 1024px;
}

.pf-follow .wrapper .pff-list {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.pf-follow li {
    width: 25%;
    display: inline-block;
    vertical-align: middle;
}
.pf-follow li .item {
    color: #ffffff;
}

.pf-follow li .item span {
    width: 100%;
    display: block;
}
.pf-follow li .item .num {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
}
.pf-follow li .item .num:after {
    content: '';
    background: #e89d20;
    width: 109px;
    height: 3px;
    display: block;
    margin: 13px auto;
    margin-top: 0px;
}
.pf-follow li .item .text {
    font-size: 18px;
    margin: 0 auto;
    width: 150px;
    height: 44px;
}


#main{
    padding-top: 0px;
    padding-bottom: 30px;
}

#main .wrapper {
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 1024px;
}
 
#main .wrapper .clearfix {
    display: block;
    min-width: 0;
}

#main .wrapper .clearfix .left-a {
    float: left;
    width: 470px;
}
#main .wrapper .clearfix .left-a img {
    border: none;
    max-width: 100%;
    height: auto;
}
#main .wrapper .clearfix .right-a {
    border-bottom: 1px solid #bebebe;
    border-right: 1px solid #bebebe;
    box-shadow: 0 1px 2px rgb(135 135 135 / 75%);
    margin-left: 470px;
    min-height: 470px;
    padding: 30px 17px 40px 38px;
    position: relative;
    z-index: 1;
    
}
#main .wrapper .clearfix .right-a .lbl {
    width: 347px;
    height: 71px;
    background: #0070ba;
    text-align: center;
    margin-left: -77px;
    box-shadow: 2px 2px 2px #717171;
}
.right-a .lbl h3 {
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0;
    padding-top: 23px;
}
.right-a .row-a {
    height: 74px;
    padding-top: 15px;
    border-bottom: 1px solid #828282;
}
.right-a .row-a .text p {
    margin: 2px 0 0 50px;
}
.right-a .row-a:last-child {
    border-bottom: none;
}
.right-a .row-a .text a {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 199px;
    text-decoration: none;
}
.right-a .row-a .left, .right-a .row-a .right {
    width: 50%;
    float: left;
}
.right-a .row-a .left, .right-a .row-a .right {
    width: 50%;
    float: left;
}
.right-a .details {
    padding-top: 30px;
}

.icoleft {
    width: 50px;
    float: left;
    display: inline-block;
}
.ico-user {
    
    background: url(../img/detailTeacher/user.png) no-repeat -6px 3px;
    width: 36px;
    height: 37px;
    display: block;
}
.ico-work {
    background: url(../img/detailTeacher/bgadress.png) no-repeat;
    width: 23px;
    height: 37px;
    display: block;
}
.ico-subject {
    background: url(../img/detailTeacher/bgsach.png) no-repeat;
    width: 36px;
    height: 24px;
    display: block;
}
.ico-degree {
    background: url(../img/detailTeacher/bgmu.png) no-repeat;
    width: 38px;
    height: 24px;
    display: block;
}
.ico-email {
    background: url(../img/detailTeacher/bgemail.png) no-repeat;
    width: 33px;
    height: 22px;
    display: block;
}
.ico-facebook {
    background: url(../img/detailTeacher/bgfb.png) no-repeat;
    width: 26px;
    height: 26px;
    display: block;
}

#pf-story {
    background: #fff1da;
}