{% extends 'accounts/main.html' %}
{% load static %}
{% include 'accounts/sectionhero1.html' %}

{% block content%}
<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


</head>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <center><strong><h4 class="panel-title">Đề tự luyện</h4></strong></center>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>

          <th>Exam Name</th>

          <th>Take Exam</th>
        </tr>
      </thead>
        {% for t in exam %}
      <tr>

        <td> {{t.exam_name}}</td>

        <td><a class="btn btn-danger btn-xs" href="{% url 'take-exam' t.id  %}"><span class="glyphicon glyphicon-circle-arrow-right"></span></a></td>
      </tr>
         {% endfor %}
    </table>
  </div>
  <center><a style="border: none; background: #000; color: #fff; padding: 10px; border-radius:10px; font-size: 18px; text-decoration: none;"
             href="{% url 'adminQuestion' %}">Tạo bài thi</a></center>
  <br><br><br>
</div>

{% endblock%}