{% extends 'accounts/main.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content%}
 <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

  </style>
<div class="container">
   <a href="{% url 'addExam' %}"
      style="border: none; background: #000; color: #fff; padding: 10px; border-radius:10px; font-size: 18px; text-decoration: none;">Quay lại</a>
    <br><br>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">BẢNG BÀI THI CÓ SẴN</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>

          <th>Tên bài thi</th>
          <th>Tổng câu hỏi</th>
          <th>Tổng điểm</th>
          <th>Xem câu hỏi</th>
        </tr>
      </thead>
      {% for c in exam %}
      <tr>

        <td> {{c.exam_name}}</td>
        <td>{{c.question_number}}</td>
        <td>{{c.total_marks}}</td>
        <td><a class="btn btn-danger btn-xs" href="{% url 'viewQuestion' c.id %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>

      </tr>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock content %}