
   <footer class="footer spad">
        <div class="container">
            <div class="row" >
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">

                        </div>
                        <ul>
                            <li>Địa chỉ: Tầng 6, Tòa nhà Kim Khí Thăng long, Sô 1 Lương Yên,
                                Phường Bạch Đằng, Quận Hai Bà Trưng, Thành phố Hà Nội, Việt Nam</li>
                            <li>Phone: +84 123 123 3222</li>
                            <li>Email: edtech@gmail.com</li>
                        </ul>
                         <div>
    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fedtechteam021&tabs=timeline
    &width300&height=200&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=329455858726415"
            width="340" height="130" style="border:none;overflow:hidden" scrolling="no" frameborder="0" data-adapt-container-width="true"
               allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget" style="padding-top: 2px;">
                        <h6 style="padding-left: 25px;">Về chúng tôi</h6>
                        <ul >
                            <li><a href="#">Giới thiệu</a></li>
                            <li><a href="#">Học sinh tiêu biểu</a></li>
                            <li><a href="#">Luyện thi</a></li>
                            <li><a href="#">Chính sách bảo mật thông tin</a></li>
                            <li><a href="#">Quy chế hoạt động</a></li>
                            <li><a href="#">Tuyển dụng</a></li>
                        </ul>


                        <ul>
                            <li><a href="#">Diễn đàn học tập</a></li>
                            <li><a href="#">Thư viện học tiêu biểu</a></li>
                            <li><a href="#">Thông tin tuyển sinh</a></li>
                            <li><a href="#">Kiểm tra, thi thử</a></li>
                            <li><a href="#">Liên hệ/ Góp ý</a></li>
                            <li><a href="#">Giải đáp thắc mắc</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12" >
                    <div class="footer__widget "id='contact'>
                        <h6>Liên hệ chúng tôi</h6>
                       
                          <p href="#">Thời gian dạy học trực tiếp </p>
                          <p href="#">Thứ 2 - Thứ 6 : <span>8.30 a.m - 5.30 p.m</span></p>
                          <p href="#">Thứ 7 : 9.00 a.m - 2.00 p.m</p>
                          <p href="#">Chủ Nhật : Đóng</p>
                      
                           
                            <br>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fas fa-share-alt"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright" >
                        <div class="footer__copyright__text"><p>© 2021 Công ty TNHH Công Nghệ Giáo Dục Edtech Việt Nam</p></div>


                    </div>
                </div>

            </div>
        </div>

    </footer>
    <button
        type="button"
        class="btn btn-danger btn-floating btn-lg"
        id="btn-back-to-top"
        >
  <i class="fas fa-arrow-up"></i>
</button>
    <script>
       //Get the button
let mybutton = document.getElementById("btn-back-to-top");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function () {
  scrollFunction();
};

function scrollFunction() {
  if (
    document.body.scrollTop > 20 ||
    document.documentElement.scrollTop > 20
  ) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}
// When the user clicks on the button, scroll to the top of the document
mybutton.addEventListener("click", backToTop);

function backToTop() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>