{% load static %}
{% load social_share %}
<style>

    .logIn, .signUp{
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #000;
    border-radius: 5px;
    width: 70px;
    text-align: center;
    align-items: center;
    background: transparent;
    padding-top: 10px;
    }
    .signUp:hover{
    color: #fff;
    }
    .logIn:hover{
    color: #fff;
    }


</style>

<header class="header" >

    <div class="header__top">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-4">
                    <div class="header__top__left">
                        </div>
                </div>
                <div class="col-lg-6 col-md-8">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="{% url 'dashboard' %}" style="font-size: 15px;color: #000;
                            text-decoration: none"><i class="fas fa-users-cog"></i></a>

                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="" ><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fas fa-share-alt"></i></a>



                        </div>
                        <div class="header__top__right__language">

                            <div>Vietnam</div>
                            <span class="arrow_carrot-down"></span>
                            <ul>
                                <li><a href="#">Vietnam</a></li>
                                <li><a href="#">English</a></li>
                            </ul>
                        </div>
                        <div class="header__top__right__social">
                           <div class="log">
                                {% if user.username %}
                                     <p style="color: #000;font-size: 18px">Xin chào,
                                         <a href="{% url 'profile' %}" style="text-decoration: none; font-size: 18px">
                                         <strong>{{ user.username }}</strong></a>
                                         <a href="{% url 'logout' %}" class="logOut" style="text-decoration: none; font-size: 18px"><i class="fas fa-sign-out-alt"></i></a></p>

                                {% else %}
                                    <p><a class="logIn" href="{% url 'login' %}">SIGN IN</a> <a class="signUp" href="{% url 'register' %}">SIGN UP</a></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="{% static 'img/881.png'%}" alt="">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="{% url 'home' %}"><img src="{% static 'img/edtech-logo.jpg'%}" alt=""></a>
                </div>
            </div>
            <div class="col-lg-8">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a href="{% url 'home' %}">Trang chủ</a></li>

                        <li><a href="#">Phòng Thi</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="{% url 'tuluyen' %}">Tự luyện</a></li>
                                <li><a href="#">Đánh giá năng lực</a></li>

                            </ul>
                        </li>
                        <li><a href="{% url 'courseGrid' %}">Thư viện</a></li>
                        <li><a href="{% url 'hocphi' %}">Học phí</a></li>
                        <li><a href="{% url 'contact' %}">Hỗ trợ</a></li>
                        <li><a href="{% url 'blog' %}">Tin</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-1">
                <div class="header__cart">
                    <ul>

                        <li><a href="{% url 'cart' %}"><i class="fa fa-shopping-cart"></i>
                            <!-- <span id="cart-total">
                            0
                         </span> -->
                     </a></li>
                 </ul>

             </div>
         </div>
     </div>
     <div class="humberger__open">
        <i class="fa fa-bars"></i>
    </div>
</div>
</header>