{% load static %}
<!--    hero section begin-->
<section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories ">
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form >

                                <input type="search" class="form-control" placeholder="Tìm kiếm khóa học" name="searched">
                                <button type="submit" class="site-btn" style="background: #7d5fff; "><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone" style="color: #7d5fff; "></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+84 (034) 9521 - 656</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>
<!--    hero section end-->