{% load static %}
{% block content %}

<style>
    section#recent-product{
    padding-bottom:  0px;
}
</style>
<section id="recent-product">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <section class="related-products">
                        <!-- Block heading two -->
                        <div class="block-heading-two">
                            <h3><span>Giảng viên tiêu biểu</span></h3>
                        </div>

                        <div class="related-products-wrapper">

                            <div class="related-products-carousel">

                                <div class="product-control-nav">
                                    <a class="prev"><i class="fa fa-angle-left"></i></a>
                                    <a class="next"><i class="fa fa-angle-right"></i></a>
                                </div>


                                <div class="row product-listing">
                                    <div id="product-carousel" class="product-listing">
                                         {% for teachers in teachers %}
                                        <div class="product  item first ">
                                                <figure>
                                                    {% if teachers.avatar %}
                                                    <a href="{% url 'detailTeacher' teachers.id %}">
                                                        <img style='border-radius: 50%;' src="{{teachers.avatar.url}}" class="img-responsive" alt="T_2_front">
                                                    </a>
                                                  
                                                </figure>

                                                <h4 class="title"><a style="text-decoration: none; color: #000; font-size:15px" href="{% url 'detailTeacher' teachers.id %}">{{teachers.fullname}}</a></h4>

                                            {% endif %}
                                        </div>
                                        {% endfor %}

                                      
                                    </div>

                                </div>
                            </div>

                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>

<!-- <div class="container">
        <div class="teacher">
            <div class="section-title">
                        <h2>Giảng viên tiêu biểu</h2>

                    </div>
            <div class="row">
                {% for teachers in teachers %}
                <div class="col-lg-3 col-md-4 col-sm-6" >
                    <div class="featured__item" >
                        <div class="featured__item__pic set-bg"style="border-radius: 50%"  >
                            {% if teachers.avatar %}
                            <a href="{% url 'detailTeacher' teachers.id %}"><img src="{{teachers.avatar.url}}" alt="" style="width:300px; height: 300px "></a>

                            <ul class="featured__item__pic__hover">

                                <li><a href="{% url 'detailTeacher' teachers.id %}"><i class="fa fa-retweet"></i></a></li>

                            </ul>
                        </div>
                        <div class="featured__item__text" >
                            <h6><a href="#" style="text-decoration: none;font-size:20px"><strong>{{teachers.fullname}}</strong></a></h6>

                        </div>
                    </div>
                {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div> -->




{% endblock %}