<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title> Login</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/icheck-bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/adminlte.min.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
  <style>
    .login-page{
      background: url({% static './img/bgLogin.jpg'%});
      background-size:cover;

    }
    .login-box{

    }
    .login-card-body{
      background: rgba(255, 255, 255, .5);
      border-radius: 10px;
    }
    .login-logo b{
        font-weight: bold;
        color: #000;
        font-family: 'Sacramento', cursive;
        font-size: 60px;
    }
    .card{
      background: none;
    }
  </style>
</head>
<body class="login-page">
	<div class="login-box">
  <div class="login-logo">
    <center><a href="#"><b>Sign in</b></a></center>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg" style="color: red">
      	      </p>

      <form method="post">
          {% csrf_token %}
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Email" name="username">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="password" name ="password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="remember">
              <label for="remember">
                Remember Me
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-warning btn-block" name="login">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>


      <!-- /.social-auth-links -->
              <p class="mb-1">
        <a href="{% url 'reset_password' %}" style="color: #000"  >Quên mật khẩu? </a>
      </p>
      <p class="mb-0">
        <a href="{% url 'register' %}" style="color: #000" class="text-center">Chưa có tài khoản? Đăng ký ngay</a>
      </p><br>
      <p class="mb-0" style="border: 1px solid #fff; text-align: center; border-radius: 10px;padding: 10px; background: blue;
      color:#fff" >
        <a href="{% url 'social:begin' 'facebook' %}" style="color: #fff; text-decoration: none" class="text-center">Đăng nhập bằng Facebook</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
</body>
</html>