{% extends 'accounts/main.html' %}
{% block content %}
<style>
    h3{
    text-align:center;
    font-size: 30px;
    font-weight: bold;
    }
    p{
    text-align:center;
    font-size: 25px;
    }

</style>
<h3>Password reset sent</h3>
<br>
<p>Chúng tôi đã gửi cho bạn hướng dẫn đặt mật khẩu của bạn qua email, nếu tài khoản tồn tại với email bạn đã nhập.
    Bạn sẽ sớm nhận được chúng.</p>
<br><br>

<p>Nếu bạn không nhận được email, hãy đảm bảo rằng bạn đã nhập địa chỉ mà bạn đã đăng ký và kiểm tra thư mục spam của mình.</p>
{% endblock %}